# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
next-env.d.ts

# production
build/

# env
.env
.env.local
.env.development.local
.env.production.local
.env*.local

# editor / os
.DS_Store
.idea/
.vscode/
*.swp

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# misc
*.tsbuildinfo
.cache/
